.load {
  padding-bottom: 2rem; 
  border-radius: 10px;
  border: solid .5rem var(--load-main);
}
.load div {
  background: var(--load-main);
  border-radius: 5px;
  height: 1.5rem;
  width: 90%;
  margin: .5rem auto;
}

.title {
  width: 50% !important;
  margin: 3rem 0 2rem 5% !important;
}

.top {
  width: 100.5% !important;
  margin: -1px !important;
  border-radius: 0 !important;
  height: 3rem !important;
}