.tagsContainer {
  margin: 2rem 2rem;
  position: relative;
}
.tagUl {
  display: flex;
  flex-wrap: wrap;
}
.tagUl li {
  margin-top: .25rem;
  margin-bottom: .25rem;
}
.tagList {
  border: 1px solid var(--main);
  color: var(--main);
  padding: .25rem 1rem;
  border-radius: 50px;
  cursor: pointer;
  margin: 0 .25rem;
  transition: ease .3s;
}


.inputTag {
  border-radius: 50px;
  border-color: var(--main);
  padding: .25rem 1rem;
  width: 12rem;
}


.blogTagsStyles {
  border: 1px solid var(--main);
  width: 12rem;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 3rem;
  background: #fff;
  overflow: hidden;
}
.blogTagsStyles ul {
  margin: 0;
}
.blogTagsStyles li {
  cursor: pointer;
  padding: .25rem .5rem;
  transition: ease .3s;
}
.blogTagsStyles li:hover,
.tagList:hover {
  background: var(--main);
  color: #fff;
}