.nav {
  position: absolute;
  top: 4rem;
  left: 0;
  background: #5f4dee;
  z-index: -1;
  width: 100%;
  transition: ease .6s;
}
.nav span {
  margin: 1.5rem 0;
}
.collapse {
  top: -500%;
}
.nav ul li {
  text-align: center;
  margin: 1rem 0;
}
