.main div {
  background: var(--load-main);
}
.main {
  animation: bounce infinite 2s ease-in;
  margin: 10px 0 10px 0;
  width: calc(50% - 25px);
  height: 250px;
  border-radius: 10px;
  border: 10px solid #ccd7ec;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.image {
  height: 100%;
  width: 40%;
}
.text {
  background: none !important;
  width: 60%;
  background: none;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 100%;
}
.text div {
  height: 25px;
  width: 90%;
  margin: auto;
}
.contentLoad {
  height: 120px !important;
}

@keyframes bounce {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}