
.cardIcon {
  width: 25px;
  height: 25px;
  position: relative;
  margin: 5px;
  cursor: pointer;
}
.post {
  margin: 10px 0;
  width: 47.5%;
  height: 250px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px gray;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.post span {
  margin: 5px;
  display: inline-block;
}

.image {
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 40%;
  height: 100%;
}
.imageTitle {
  width: 40%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #5f4dee, #03a9f4);
  color: white;
  font-size: 32px;
}

.data {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 60%;
  padding: 1rem 2.5%; 
}


.postTitle {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.postTitle span {
  flex-grow: 1;
}
.authorPicture {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.tags {
  margin: 10px;
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
} 

.tag {
  padding: .1rem .5rem;
  margin: 0 .2rem;
  font-size: .7rem;
  border: solid 1px var(--main);
  color: var(--main);
  text-align: center;
  border-radius: 50px;
}
button.tag {
  margin: 5px;
  background: none;
}

.align {
  display: inline-flex;
  align-items: center;
}


/*------------------------*/
.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.buttons > div {
  display: flex;
}


@media (max-width: 480px) {
  .post {
    width: 100%;
  }
}