name: Promote to Production

on:
  pull_request:
    branches:
      - production
    types:
      - closed

jobs:
  changes:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    # Set job outputs to values from filter step
    outputs:
      api: ${{ steps.filter.outputs.api }}
      client: ${{ steps.filter.outputs.client }}
      dashboard: ${{ steps.filter.outputs.dashboard }}
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            api:
              - 'apps/api/**'
              - 'packages/models/**'
              - 'packages/utils/**'
              - 'packages/ui/**'
            client:
              - 'apps/client/**'
              - 'packages/models/**'
              - 'packages/sdk/**'
              - 'packages/ui/**'
            dashboard:
              - 'apps/dashboard/**'
              - 'packages/admin/**'
              - 'packages/models/**'
              - 'packages/sdk/**'
              - 'packages/utils/**'
              - 'packages/ui/**'

  deploy-api:
    needs: changes
    if: ${{ needs.changes.outputs.api == 'true' }}
    uses: ./.github/workflows/deploy.yml
    with:
      name: api
      env: production
    secrets: inherit

  deploy-client:
    needs: changes
    if: ${{ needs.changes.outputs.client == 'true' }}
    uses: ./.github/workflows/deploy.yml
    with:
      name: client
      env: production
    secrets: inherit

  deploy-dashboard:
    needs: changes
    if: ${{ needs.changes.outputs.dashboard == 'true' }}
    uses: ./.github/workflows/deploy.yml
    with:
      name: dashboard
      env: production
    secrets: inherit
